
<div id="addexerciseNutritionPackage" class="portlet light " >
    <div class="portlet-title">
        <div class="caption">
            <i class="navicon icon-bell font-red"></i>
           {{vm.title}}
        </div>
        <a ng-click="vm.close()" class=" pull-right mr-4">
            <i class="fa fa-times-circle fa-lg"></i>
        </a>
    </div>
    <div class="portlet-body p-5">
        <div class="text-center mb-5">
            <h1>Add Exercise Nutrition Package</h1>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">
                Choose Nutrition Package
            </label>
            <div class="col-md-6">
                <select kendo-drop-down-list class="required form-control"
                        k-options="vm.nutritionPackageIdDropdownOptions"
                        ng-model="vm.exerciseNutritionPackage.nutritionPackageId"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">
               Choose Exercise Package
            </label>
            <div class="col-md-6">
                <select kendo-drop-down-list class="required form-control"
                        k-options="vm.exercisePackageIdDropdownOptions"
                        ng-model="vm.exerciseNutritionPackage.exercisePackageId"></select>
            </div>
        </div>

        <form class="form-horizontal" kendo-validator="validator" ame="addExerciseNutritionPackageCreateForm">

            <div class="item form-group" ng-show="vm.validationError.length > 0">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Please review the following field</div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="message in vm.validationError">
                                    <span class="black">{{message}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-5 col-md-12 text-center mt-5 mb-3">
                    <a ng-disabled="addExerciseNutritionPackageCreateForm.$invalid" ng-click="vm.saveExerciseNutritionPackage()" class="btn green button-submit button-next">
                        Save
                        <i class="fa fa-check"></i>
                    </a>

                    <a ng-click="vm.close()" class="btn btn-primary btn-ok text-center">
                        Close
                        <i class="fa fa-close"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
