
<section id="header" class="header-five-exer">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb" style="left:55%; position:relative;">
                    <h1 class="wow fadeIn" data-wow-delay="0.6s">Contact Trainer</h1>
                    <h3 class="wow fadeInUp" data-wow-delay="0.9s">Lets work together</h3>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Single Project section
================================================== -->
<section id="single-project">
    <div class="container">
        <div class="row" style="justify-content:center; display:flex;">
            <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.6s">
                <h1>Let's work together!</h1>
                <div class="contact-form" ng-controller="contactUsCtrl as vm">
                    <form id="contact-form"  kendo-validator="validator" class="py-4 ">
                        <input name="name" type="text" class="form-control my-3 py-4" placeholder="Your Name"
                               required ng-model="vm.contact.subject">
                        <input name="mail" type="email" class="form-control my-3 py-4" placeholder="Your Email"
                               required ng-model="vm.contact.email">

                        <textarea name="message" class="form-control py-4" placeholder="Message" rows="4" 
                                  required ng-model="vm.contact.message"></textarea>
                        <div class="contact-submit my-3 ">
                            <a class="form-control button-submit" ng-click="vm.sendEmail()">
                                Send a message
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp" data-wow-delay="0.3s">Copyright © 2021 NEPFIT - Designed by Prashant Ulak</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.6s">
                    <li>
                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</footer>



