
<div id="addexercisePackageRoutine" class="portlet light " >
    <div class="portlet-title">
        <div class="caption">
            <i class="navicon icon-bell font-red"></i>
            Add ExercisePackageRoutine
        </div>
        <a ng-click="vm.close()" class=" pull-right">
            <i class="far fa-times-circle fa-lg"></i>
        </a>
    </div>
    <div class="portlet-body">
        <div class="form-group">
            <label class="control-label col-md-3">
                Exercise Package
                <span class="required"> * </span>
            </label>
            <div class="col-md-6">
                <select kendo-drop-down-list class="required form-control"
                        k-options="vm.exercisePackageIdDropdownOptions"
                        ng-model="vm.exercisePackageRoutine.exercisePackageId"></select>
                <span class="help-block">  Exercise Package</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                Exercise Routine
                <span class="required"> * </span>
            </label>
            <div class="col-md-6">
                <select kendo-drop-down-list class="required form-control"
                        k-options="vm.exerciseRoutineIdDropdownOptions"
                        ng-model="vm.exercisePackageRoutine.exerciseRoutineId"></select>
                <span class="help-block">  Exercise Routine</span>
            </div>
        </div>

        <form class="form-horizontal" kendo-validator="validator" ame="addExercisePackageRoutineCreateForm">

            <div class="item form-group" ng-show="vm.validationError.length > 0">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Please review the following field</div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="message in vm.validationError">
                                    <span class="black">{{message}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-5 col-md-12">
                    <a ng-disabled="addExercisePackageRoutineCreateForm.$invalid" ng-click="vm.saveExercisePackageRoutine()" class="btn green button-submit button-next">
                        Save
                        <i class="fa fa-check"></i>
                    </a>

                    <a ng-click="vm.close()" class="btn btn-primary btn-ok text-center">
                        Close
                        <i class="fa fa-close"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
