
<div ng-controller="homeCtrl as vm" ng-show="vm.dispalyContent" >


    <button  ng-click="vm.showAddBodyMetrics()">Add Body Metrics</button>
    <button  ng-click="vm.showExcerciseType()">showExcerciseType</button>
    <button  ng-click="vm.showExcerciseRoutine()">showExcerciseRoutine</button>
    <button  ng-click="vm.showExcercisePackage()">showExcercisePackage</button>
    <button  ng-click="vm.showNutritionType()">showNutritionType</button>
    <button  ng-click="vm.showNutritionPackage()">showNutritionPackage</button>
    <button  ng-click="vm.showNutritionRoutine()">showNutritionRoutine</button>
    <button  ng-click="vm.showNutritionPackageRoutine()">showNutritionPackageRoutine</button>
    <button  ng-click="vm.showExercisePackageRoutine()">showExercisePackageRoutine</button>
    <button ng-click="vm.showExerciseNutritionPackage()">showExerciseNutritionPackage</button>
    <button ng-click="vm.showNepFitUser()">showNepFitUser</button>
    <button ng-click="vm.showPostRegister()">postRegister</button>
    <a href="/#!/user/exercise/routine"> User Routine</a>
    <a href="/#!/articles"> articles</a>
    <a href="/#!/user/nutirtion/routine"> User Nutrition Routine</a>

</div>
<div class="demo-section k-content wide">
    <div id="chart"></div>
</div>