
<div ng-controller="homeCtrl as vm" ng-show="vm.dispalyContent">


    <div class="text-center m-5">
        <h1 style="font-size:50px;">Admin Panel</h1>
    </div>






    <div class="container mt-5">
        <div class="row">

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcerciseType()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcerciseType()">
                        <h1>Exercise Types </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcerciseType()" class="btn btn-default">Show Exercise Types</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcerciseRoutine()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcerciseRoutine()">
                        <h1>Exercise Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcerciseRoutine()" class="btn btn-default">Show Exercise Routine</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcercisePackage()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcercisePackage()">
                        <h1>Exercise Packages </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcercisePackage()" class="btn btn-default">Show Exercise Package</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExercisePackageRoutine()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExercisePackageRoutine()">
                        <h1>Exercise Package Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExercisePackageRoutine()" class="btn btn-default">Show Exercise Package Routines</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionType()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionType()">
                        <h1>Nutrition Types </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionType()" class="btn btn-default">Show Nutrition Type</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionPackage()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionPackage()">
                        <h1>Nutrition Packages </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionPackage()" class="btn btn-default">Show Nutrition Packages</a>
                </div>
            </div>


            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionRoutine()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionRoutine()">
                        <h1>Nutrition Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionRoutine()" class="btn btn-default">Show Nutrition Routines</a>
                </div>
            </div>


            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionPackageRoutine()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionPackageRoutine()">
                        <h1>Nutrition Package Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionPackageRoutine()" class="btn btn-default">Show Nutrition Package Routines</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExerciseNutritionPackage()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExerciseNutritionPackage()">
                        <h1>Exercise Nutrition Packages</h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExerciseNutritionPackage()" class="btn btn-default">Show Exercise Nutrition Packages</a>
                </div>
            </div>
            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNepFitUser()"><img src="images/ar1.png" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNepFitUser()">
                        <h1>NepFit Users</h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNepFitUser()" class="btn btn-default">Show NepFit Users</a>
                </div>
            </div>








            
            <button ng-click="vm.showPostRegister()">postRegister</button>
            <a href="/#!/user/exercise/routine"> User Routine</a>
            <a href="/#!/articles"> articles</a>
            <a href="/#!/user/nutrition/routine"> User Nutrition Routine</a>
            <a href="/#!/supplements">supplements</a>
            <a href="/#!/contact">Contact Trainer</a>
            <button ng-click="vm.showAddBodyMetrics()">Add Body Metrics</button>


        </div>

    </div>




</div>
<div class="demo-section k-content wide">
    <div id="chart"></div>
</div>

