<style>

    .btn {
        border-radius: 0px;
        
        letter-spacing: 2px;
        text-transform: uppercase;
       
        transition: all 0.4s ease-in-out;
    }

        .btn:hover {
            background: #111112;
            border-color: transparent;
            color: #ffffff !important;
        }
</style>



<div ng-controller="homeCtrl as vm" ng-show="vm.dispalyContent">

    <div class="container mt-5">
        <div class="row">
            <button ng-click="vm.showPostRegister()">postRegister</button>
            <a href="/#!/user/exercise/routine"> User Routine</a>
            <a href="/#!/articles"> articles</a>
            <a href="/#!/user/nutrition/routine"> User Nutrition Routine</a>
            <a href="/#!/supplements">supplements</a>
            <a href="/#!/contact">Contact Trainer</a>
            <button ng-click="vm.showAddBodyMetrics()">Add Body Metrics</button>


        </div>

    </div>




</div>
<div class="demo-section k-content wide">
    <div id="chart"></div>
</div>

