
<div id="addnutritionPackageRoutine" class="portlet light " >
    <div class="portlet-title">
        <div class="caption">
            <i class="navicon icon-bell font-red"></i>
           {{vm.title}}
        </div>
        <a ng-click="vm.close()" class=" pull-right">
            <i class="fa fa-times-circle fa-lg"></i>
        </a>
    </div>
    <div class="portlet-body">
        <div class="form-group">
            <label class="control-label col-md-3">
                nutritionRoutineId
                <span class="required"> * </span>
            </label>
            <div class="col-md-6">
                <input type="text" maxlength="[StringLength(5000)]" class="form-control" name="Name" placeholder="Name" required validationMessage="Enter {0}" ng-model="vm.nutritionPackageRoutine.nutritionRoutineId" />
                <span class="help-block"> Short Name for your ExerciseRoutine (Max [StringLength(5000)] characters </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                nutritionPackageId
                <span class="required"> * </span>
            </label>
            <div class="col-md-6">
                <input type="text" maxlength="[StringLength(5000)]" class="form-control" name="Name" placeholder="Name" required validationMessage="Enter {0}" ng-model="vm.nutritionPackageRoutine.nutritionPackageId" />
                <span class="help-block"> Short Name for your ExerciseRoutine (Max [StringLength(5000)] characters </span>
            </div>
        </div>

        <form class="form-horizontal" kendo-validator="validator" ame="addNutritionPackageRoutineCreateForm">

            <div class="item form-group" ng-show="vm.validationError.length > 0">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Please review the following field</div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="message in vm.validationError">
                                    <span class="black">{{message}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-5 col-md-12">
                    <a ng-disabled="addNutritionPackageRoutineCreateForm.$invalid" ng-click="vm.saveNutritionPackageRoutine()" class="btn green button-submit button-next">
                        Save
                        <i class="fa fa-check"></i>
                    </a>

                    <a ng-click="vm.close()" class="btn btn-primary btn-ok text-center">
                        Close
                        <i class="fa fa-close"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
