@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    

        <li class="nav-item pt-2 pr-3">
            <a href="/#!/user/exercise/routine">Exercise</a>

        </li>
        
        <li class="nav-item pt-2 pr-3">
            <a href="/#!/user/nutrition/routine">Nutrition</a>
        </li>
        <li class="nav-item pt-2 pr-3">
            <a href="/#!/supplements">Supplements</a>
        </li>
        <li class="nav-item pt-2 pr-3">
            <a href="/#!/contact">Contact Trainer</a>
        </li>
        <li class="nav-item pt-2 pr-3">
            <a href="/#!/profile">Profile</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
        </li>
    }
</ul>
