
<div class="modal-header">
    <h5 class="modal-title"><i class="glyphicon glyphicon-trash"></i> Delete Confirmation</h5>
</div>
<div class="modal-body" id="modal-body">
    <p>Would you like to delete this ExercisePackage with name : {{vm.exercisePackage.Name}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.close()" >Close</button>
    <button type="button" ng-click="vm.deleteExercisePackage(vm.exercisePackage)" class="btn btn-primary">Delete</button>
</div>
