

<div id="postregister" class="portlet light" ng-controller="nepfituserAddCtrl as vm">
    <div class="container">
        <div class="title">NEPFIT</div>
        <form class="form-horizontal" kendo-validator="validator" ame="addNepFitUserCreateForm">
            <div class="user-details">
                <div class="input-box">
                    <input type="text" placeholder="First Name" ng-model="vm.nepFitUser.firstName" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Last Name" ng-model="vm.nepFitUser.lastName"required>
                </div>
                <div class="date">
                    <span class="details">Date Of Birth</span>
                    <input type="date" name="dob" id="dob"  ng-model="vm.nepFitUser.dateOfBirth">
                </div>
                <div class="gender">
                    <span class="details">Gender</span>
                    <select name="gender" id="gender" ng-model="vm.nepFitUser.gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="programme">
                    <span class="details">Choose a programme</span>
                    <select name="programme" id="programme" ng-model="vm.nepFitUser.exercisePackageName">
                        <option value="weight loss">Weight Loss</option>
                        <option value="wight gain">Weight Gain</option>
                    </select>
                </div>
            </div>
            
        </form>
    </div>






    <div class="item form-group" ng-show="vm.validationError.length > 0">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Please review the following field</div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="message in vm.validationError">
                            <span class="black">{{message}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

   

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-5 col-md-12">
                <a ng-disabled="addNepFitUserCreateForm.$invalid" ng-click="vm.saveNepFitUser()" class="btn green button-submit button-next">
                    Save
                    <i class="fa fa-check"></i>
                </a>

                

            </div>
        </div>
    </div>
</div>

