@page
<link href="~/css/main.css" rel="stylesheet" />

<!--------------------------------Home---------------------------------------------->
<!-------------------------------Hamburger Menu------------------------------------->
<section id="home" class="pt-5">
    
    <!------------------------Home Contents---------------------------->
    <div class="home-heading" alt="">
        <h3>NEPFIT</h3>
        <h2>IT NEVER GETS EASIER,<br> YOU JUST GET STRONGER.</h2>
    </div>
    

</section>
<!---------------------------Home End ------------------------------------------------------>
<!---------------------------------------------About Us---------------------------------------->
<div class="container-sm" id="about">
    <section class="about">


        <div class="text-center">
            <h2 style="padding-bottom:50px; font-size: 5vw;">
                ABOUT US
                <hr width="100%">
            </h2>

        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="Images/Endurance.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">

                <p class="about-para">
                    In NEPFIT, We believe that the key to making life changing transformations is to ease out the journey by showing you the path and being the cheerleaders of your body transformation journey. Here at FITNET, we provide you the exact tools you'll require
                    to change you life around. If you are considering your overall wellness, then you probably know how important fitness is. Unlike the popular perception, attaining fitness is a walk in the park. Our objective I making your fitness
                    and health approachable and attainable. We believe that fitness is accessible to all users, everywhere, irrespective of their income level as well as access to a gym. With this, we offer hundreds of free articles and tutorials,
                    as well as the most effective workout plans on the web. Apart from this, we also provide numerous meal programs, useful health, fitness and nutrition info. We believe in gimmick-free, unbiased as well as research-backed info. The
                    only thig we recommend is consuming whole and unprocessed foods, and exercising for healthy and strong body. Our fitness programs are typically intended to enhance and develop conditioning and strength. It is a perfect fitness
                    routine for people as it enables them the improvement of and extensive variety of physical skills such as stamina, endurance, speed, flexibility as well as strength.
                </p>

                
            </div>
        </div>


    </section>
</div>
<!---------------------------------------------About Us End---------------------------------->
<!----------------------------Our Courses------------------->
<div class="container-sm" id="ourCourses">
    <div class=" text-center ourCourses-header">
        <h2 style="padding-bottom:50px; font-size: 5vw;">
            Our Courses
            <hr width="100%">
        </h2>

    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="hover hover-3 text-white ">
                <img src="Images/cardio.jpg">
                <div class="hover-overlay"></div>
                <div class="hover-3-content ">
                    <h3 class=" text-uppercase font-weight-bold mb-1"><span class="font-weight-light">CARDIO </span></h3>
                    <p class="hover-3-description small text-uppercase mb-0 ">Cardio training is exercise with the purpose of developing <br>cardiovascular or aerobic fitness. Cardiovascular fitness is a <br>good measure of the heart’s ability to pump oxygen-rich blood<br> to the muscles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="hover hover-3 text-white ">
                <img src="Images/Eendurance.jpg">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class=" text-uppercase font-weight-bold mb-1"><span class="font-weight-light">ENDURANCE </span></h3>
                    <p class="hover-3-description small text-uppercase mb-0">Endurance exercise is one of the four types of exercise <br>along with  strength, balance and flexibility. Ideally, all <br>four types of exercise would be included in a healthy  <br>workout routineand AHA provides easy-to-follow <br>guidelines for endurance and strength-training <br>in its Recommendations for Physical Activity in <br>Adults.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="hover hover-3 text-white ">
                <img src="Images/Hypertrophy.png">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class=" text-uppercase font-weight-bold mb-1"><span class="font-weight-light">HYPERTROPHY</span></h3>
                    <p class="hover-3-description small text-uppercase mb-0">Hypertrophy is an increase and growth of muscle cells. Hypertrophy refers to an increase in muscular size achieved through exercise. When you work out, if you want to tone or improve muscle definition, lifting weights is the most common way to increase hypertrophy.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="hover hover-3 text-white ">
                <img src="Images/Strength.png">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class=" text-uppercase font-weight-bold mb-1"><span class="font-weight-light">STRENGTH </span></h3>
                    <p class="hover-3-description small text-uppercase mb-0">Strength training is a type of physical exercise specializing in the use of resistance to induce muscular contraction which builds the strength, anaerobic endurance, and size of skeletal muscles. When properly performed, strength training can provide significant functional benefits and improvement in overall health and well-being, including increased bone, muscle, tendon and ligament strength and toughness, improved joint function, reduced potential for injury, increased bone density, increased metabolism, improved cardiac function, and elevated HDL cholesterol.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- End About Us Section -->
<!-----------------------Transformation Page -------------------------------->




<div class="container-sm" id="transformations">
    <section>
        <div class="text-center transformations-header">
            <h2 style="font-size: 5vw;">
                TRANFORMATIONS

            </h2>
            <p>NEPFIT has desinged courses depending on body goals required.</p>
            <hr width="100%">
        </div>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mb-3">

                <img src="Images/trans1.jpg" class="img-fluid " alt="Responsive image">

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mb-3">

                <img src="Images/trans5.png" class="img-fluid " alt="Responsive image">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mb-3">

                <img src="Images/trans3.png" class="img-fluid" alt="Responsive image">

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mb-3">

                <img src="Images/trans4.png" class="img-fluid " alt="Responsive image">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>
</div>

<!-----------------------Transformation Page Ends -------------------------------->
<!----------------------------SERVICES--------------------------------------->
<div class="container-md" id="services">
    <div class="text-center services-header">
        <h2 style="font-size: 70px;">
            OUR SERIVCES
            <hr width="100%">

        </h2>


    </div>

    <div class="row service-row">
        <div class="col-md-4 ">
            <div class="card ">
                <img src="Images/workout.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold"> SCHEDULED WORKOUT ROUTINE</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <img src="Images/plan.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold">SCHEDULED NUTRITION PLAN</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <img src="Images/progression.png" class="card-img-top">
                <div class="card-body ">
                    <p class="card-text  text-center font-weight-bold">PROGRESSION TRACKING</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------END OF SERVICES--------------------------------------->
<!----------------------Footer------------------------------>

<footer id="footer">
    <!---------------------SOCIAL MEDIA BUTTONS---------------------->
    <div>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://www.twitter.com/">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>

            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>

        </ul>
    </div>

    <div class="row footer-bottom">
        <div class="col-md-12" style=" text-align: center;">
            <span>© Copyright NEPFIT 2020.</span>
        </div>
    </div>

</footer>