<style>

    .btn {
        border-radius: 0px;
        
        letter-spacing: 2px;
        text-transform: uppercase;
       
        transition: all 0.4s ease-in-out;
    }

        .btn:hover {
            background: #111112;
            border-color: transparent;
            color: #ffffff !important;
        }
</style>



<div ng-controller="adminCtrl as vm" ng-show="vm.dispalyContent">


    <div class="text-center m-5">
        <h1 style="font-size:50px;">Admin Panel</h1>
    </div>






    <div class="container mt-5">
        <div class="row">

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcerciseType()"><img src="/Images/mm.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcerciseType()">
                        <h1>Exercise Types </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcerciseType()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Exercise Types</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcerciseRoutine()"><img src="/Images/bench.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcerciseRoutine()">
                        <h1>Exercise Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcerciseRoutine()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Exercise Routine</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExcercisePackage()"><img src="/Images/wl.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExcercisePackage()">
                        <h1>Exercise Packages </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExcercisePackage()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Exercise Package</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExercisePackageRoutine()"><img src="/Images/run.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExercisePackageRoutine()">
                        <h1>Exercise Package Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExercisePackageRoutine()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Exercise Package Routines</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionType()"><img src="/Images/nutritiontype.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionType()">
                        <h1>Nutrition Types </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionType()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Nutrition Type</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionPackage()"><img src="/Images/fwaad.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionPackage()">
                        <h1>Nutrition Packages </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionPackage()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Nutrition Packages</a>
                </div>
            </div>


            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionRoutine()"><img src="/Images/fwadd.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionRoutine()">
                        <h1>Nutrition Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionRoutine()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Nutrition Routines</a>
                </div>
            </div>


            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNutritionPackageRoutine()"><img src="/Images/brea.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNutritionPackageRoutine()">
                        <h1>Nutrition Package Routines </h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNutritionPackageRoutine()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Nutrition Package Routines</a>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showExerciseNutritionPackage()"><img src="/Images/chicken.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showExerciseNutritionPackage()">
                        <h1>Exercise Nutrition Packages</h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showExerciseNutritionPackage()" ng-show= "vm.isAdmin " class="btn btn-default" >Show Exercise Nutrition Packages</a>
                </div>
            </div>
            <div class="wow fadeInUp col-md-6 col-sm-6 mb-5" data-wow-delay="0.5s">
                <div class="blog-thumb">
                    <a ng-click="vm.showNepFitUser()"><img src="/Images/users.jpg" class="img-responsive pb-4" alt="Blog"></a>
                    <a ng-click="vm.showNepFitUser()">
                        <h1>NepFit Users</h1>
                    </a>
                    <p>High-quality protein powders are more popular than ever, but they're also being used by a broader range of people than ever. A post-workout shake definitely isn't just for athletes training for a competition or </p>
                    <a ng-click="vm.showNepFitUser()" ng-show= "vm.isAdmin " class="btn btn-default" >Show NepFit Users</a>
                </div>
            </div>








            


        </div>

    </div>




</div>


